---
interface Props {
  title: string;
  emoji: string;
  description?: string;
}
const { title, emoji, description } = Astro.props;
---

<div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-white">
      {title}
    </h1>
    <div class="text-5xl">{emoji}</div>
  </div>
  {
    description && (
      <p class="text-gray-600 dark:text-gray-300 mb-8">{description}</p>
    )
  }
  <slot />
</div>
