---
import classNames from "classnames";

export enum HighlightColor {
  BLUE = "blue",
  GREEN = "green",
  PURPLE = "purple",
}

interface Props {
  color: HighlightColor;
  title: string;
  description: string;
}
const { color, title, description } = Astro.props;
---

<div
  class={classNames("p-4 rounded-lg border", {
    "bg-blue-50 dark:bg-blue-900/30 border-blue-100 dark:border-blue-800":
      color === HighlightColor.BLUE,
    "bg-green-50 dark:bg-green-900/30 border-green-100 dark:border-green-800":
      color === HighlightColor.GREEN,
    "bg-purple-50 dark:bg-purple-900/30 border-purple-100 dark:border-purple-800":
      color === HighlightColor.PURPLE,
  })}
>
  <h2
    class={classNames("text-xl font-semibold mb-2", {
      "text-blue-800 dark:text-blue-300": color === HighlightColor.BLUE,
      "text-green-800 dark:text-green-300": color === HighlightColor.GREEN,
      "text-purple-800 dark:text-purple-300": color === HighlightColor.PURPLE,
    })}
  >
    {title}
  </h2>
  <p
    class={classNames({
      "text-blue-600 dark:text-blue-400": color === HighlightColor.BLUE,
      "text-green-600 dark:text-green-400": color === HighlightColor.GREEN,
      "text-purple-600 dark:text-purple-400": color === HighlightColor.PURPLE,
    })}
  >
    {description}
  </p>
</div>
