---
interface Props {
  href: string;
  text: string;
  isMobile?: boolean;
}

const { href, text, isMobile = false } = Astro.props;
---

<a
  href={href}
  class:list={[
    "hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors duration-200",
    isMobile
      ? "block w-full px-3 py-2 rounded-md text-base font-medium text-gray-600 dark:text-gray-200"
      : "text-gray-600 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white",
  ]}
>
  {text}
</a>
