---
import "@/styles/base.css";
import NavBar from "@/components/nav-bar.astro";
import Footer from "@/components/footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title} | Suja Sankar's Chemistry Lab</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 min-h-full flex flex-col">
    <header class="bg-white dark:bg-gray-800 shadow">
      <NavBar />
    </header>

    <main class="flex-1 max-w-7xl w-full mx-auto py-6 sm:px-6 lg:px-8">
      <slot />
    </main>

    <Footer />
  </body>
</html>
